[2021-05-08 03:26] asfarul opened #3 "Force close in apk released"
Hello, can you help me? Why my apps got crashed after i tried to print in apk release version? But When in debug version it works very well. Any solution?

[2021-05-08 03:54] CodeMinion commented on #3
Hey @asfarul ,

Thanks for reaching out about this. That's really curious. Can you share some of the logs for the crash? Also what platform and OS version are you seeing the crash on?

Thanks in advance,

[2021-05-08 05:09] asfarul commented on #3
this is the log :
[code]

My build.gradle :
[code]

Android Manifest :
[code]

My Phone : Samsung S9+ (Android version 10)

[2021-05-08 16:26] CodeMinion commented on #3
Thanks for the details @asfarul ! The problem is as a result of minimify.

I just added new proguard rules for the Brother SDK so when you have a chance please bring the latest version into your project by running "Flutter pub upgrade".

I'll leave this issue open so you may close it once you have validated it is working.

Thanks again for the heads up.

[2021-05-09 02:33] asfarul commented on #3
Now it works in release mode and debug mode.
Thank you so much, you helped me a lot!

[2021-05-09 02:33] #3 closed

[2021-06-17 09:07] realrgt opened #7 "Should specify minSdkVersion in readme"
Hi @CodeMinion, thank for the work delivered into this project you saved the day.
I think you'd have placed the `minSdkVersion 19` as a requisite. Thanks a lot!!

[2021-06-17 16:51] CodeMinion commented on #7
Hi @realrgt ,

Glad you are enjoying the plugin and thanks for the heads up on the ReadMe. I have made the update and it will now display the minSDKVersion information. The information will also become available in the official pub page once we release the next version.

Thanks again,

[2021-06-17 16:51] #7 closed

[2021-06-24 10:02] c0c4i opened #8 "Can't compile for iOS"
Hello, I'm trying to running my app that use `another_brother` on iOS but I have some troubles.
I have add lines to `info.plist` file but still doesn't work.
I have also followed youtube video for `libBROTHERSDK.a`

This is the error
[code]

[2021-06-24 22:05] CodeMinion commented on #8
Hello @c0c4i ,

Sorry to see you are having build issues and thanks for the logs. I see it mentions x86_64 so it feels you might be building with the simulator as a target. Could you confirm if that is the case?

If so can you try building with a physical iOS device and see if you still experience any build issues?

Thanks in advance,

[2021-06-28 10:19] c0c4i commented on #8
Hello, yes I was trying to build for simulator.
Today I tried with physical iOS device but I have the same issue.
Also I can't archive app to release on store.

[2021-06-28 22:28] CodeMinion commented on #8
Thanks for confirming @c0c4i. I would suggest taking a look again at the check from the video because when you change build targets xCode may reset it at times so while it may be failing to build the error might be a different one.

Video: https://www.youtube.com/watch?v=42dBVdXU8gk

As for the release issue it's likely linked to the errors you are seeing during build so it might let you after you

[2021-06-29 07:44] c0c4i commented on #8
I followed youtube video but stil doesn't work, I created a new flutter project to test it and these are the errors.
I hope you can help me, thanks.
[code]

[2021-06-29 07:53] c0c4i commented on #8
I tried to archive for app store and this was the error.
[code]

[2021-06-29 22:12] CodeMinion commented on #8
Thanks for the logs @c0c4i . As for the build error you are seeing it seems you might have not selected "allow non-modular includes" in your project.

On your Runner (this is your app's runner) make sure to mark: Allow non-modular includes as yes.

Can you try again with this checked?

[2021-06-30 09:24] c0c4i commented on #8
I solve it, thank you so much and sorry for the problem.

[2021-06-30 21:15] CodeMinion commented on #8
No apologies necessary @c0c4i building on a Mac is always a bit of a pain at first so I always dread the times when I have to do it.

As for the app store problem it seems to be that the libBROTHERSDK might not have all that it's required by Apple to publish to the store. If the app you are planning to does not plan to target the RJ-Go type printers which are what libBROTHERSDK handles I can relea

[2021-07-01 07:23] c0c4i commented on #8
Sure, you would help me a lot.
The only printer I am using is QL820 so I think there is not problem.
Thank you so much

[2021-07-04 00:18] CodeMinion commented on #8
Hi @c0c4i ,

Just pushed a new branch (**ios-no-type-b**) which removes all RJ-Go support from the library on iOS which should allow you to publish to the app store.

In order to use this version you will instead need to reference another_brother from GitHub rather than the pub.dev site like so:

`another_brother:
    git:
      url: git://github.com/CodeMinion/another_brother.git
      ref: ios-n

[2021-07-06 07:18] c0c4i commented on #8
Hi, I tried it but I can't run on iPad from VS Code.
This is the error on xcode while archive.
[code]
This is the full error from terminal.
[code]

[2021-07-09 07:22] c0c4i commented on #8
Hi, do you have any news?

[2021-07-10 14:36] CodeMinion commented on #8
Hi @c0c4i !

Apologies for the late reply and the error. Thanks for the logs, I just pushed an update to the ios-no-type-b branch that will resolve the error.

Since you are using the Git reference make sure to:
1. Run Flutter Clean
2. Run Pub upgrade (When it comes to the Git reference 'Pub get' will just fetch it once)

I made a full build and it all checks out but don't hesitate to let me know

[2021-07-13 07:10] c0c4i commented on #8
It works, thank you so much.
You did a very good job.

[2021-07-13 07:10] #8 closed

[2021-09-17 12:52] BentEngbers opened #10 "automatically set the target membership from libBROTHERSDK.a to another_brother using COCOAPODS."
Hi @CodeMinion, Thanks for this awesome flutter library!
I had a lot of issues with manually setting the target membership from libBROTHERSDK.a to another_brother.
So I added the following script inside the post_install part of the the podFile, to do it automatically!
(i modified it from  here https://stackoverflow.com/a/61392674/15175952)
[code]
The whole post_install now looks like this:
[code]

[2021-09-17 14:19] BentEngbers opened #11 "use another_brother in IOS simulator"
Is it possible to use this library in the IOS simulator? It works on a physical device, but when i try to run it in the simulator, it gives the following error:

[code]

[2021-09-17 14:21] CodeMinion commented on #10
Hi @BentEngbers ,

Glad to hear you like another_brother and thank you for the update for the libBROTHERSDK install! I'll take a closer look at the changes once I have some time this weekend and will make the update.

**Note:** If you are planning on releasing to the Apple Store, you probably want to use the the ios-no-type-b branch instead of the official pub.dev (See here for more info: https://

[2021-09-17 16:36] BentEngbers opened #12 "Exception in debug mode (ios-no-type-b branch)"
Hi @CodeMinion,
When printing from IOS, the library throws an exception (after successfully printing) at line 1730 in the file printer_info.dart.
![Screenshot 2021-09-17 at 18 18 58](https://user-images.githubusercontent.com/16548374/133821364-98ca08d5-e359-475e-92fd-03ff6f350695.png)
This exception occurs when calling the `Printer.printText()` function.
I think these are the logs that are related

[2021-09-17 17:07] BentEngbers commented on #10
Thanks for the info!
I will use the ios-no-type-b branch from now on!

[2021-09-17 23:00] CodeMinion commented on #11
Hi @BentEngbers ,

Thanks for the question. Unfortunately using it in the Simulator is not  due to some missing binary, but I can't remember the specifics of why. Deploying to an actual device will work.

Thanks again,

[2021-09-17 23:02] CodeMinion commented on #12
Hi @BentEngbers ,

Thank for the heads up and the detailed report! I'll take a look and have a fix out this weekend along with that other update.

Thanks again!

[2021-09-18 15:26] CodeMinion commented on #12
Hi @BentEngbers ,

Thanks again for the report. This has now been resolved on the on the latest commit of the branch as well as the official version.

Because you are using the branch make sure to use "Pub upgrade" to get the latest version of the branch.

I'll leave this issue open for your to confirm it's working fine.

Thanks again and don't hesitate to reach out if you run into any other issue

[2021-09-18 15:33] CodeMinion commented on #10
Hi @BentEngbers ,

Thanks again for the script update. I gave it a try and it does in fact mark the membership however when I try to build the project it fails with the following error:

`ld: library not found for -lBROTHERSDK`

Reverting back to the default version and manually selecting the membership allows it to build correctly. Seems it will required a bit more investigation but definitely on

[2021-09-18 15:33] #11 closed

[2021-09-21 09:37] BentEngbers commented on #12
Thanks for the quick fix! The issue has been resolved!

[2021-09-21 09:37] #12 closed

[2021-09-21 09:45] BentEngbers commented on #11
Thanks for the help!

[2021-09-27 03:05] vitorhpereira opened #13 "Not working on M1?"
Hi there,

I got this error trying to build:
ld: building for iOS Simulator, but linking in dylib built for iOS, file '/Users/vitor/StudioProjects/myapp1/ios/Pods/BRLMPrinterKit/BRLMPrinterKit/BRLMPrinterKit.framework/BRLMPrinterKit' for architecture arm64

Any chance to work on arm64 arc?

Thanks!

[2021-09-27 04:03] vitorhpereira opened #14 "Error on Android simulator"
What could be? I'm trying to execute your example. Thanks!

On Mac M1.

--------

Error log:

`Running "flutter pub get" in myapp1...
Launching lib/main.dart on sdk gphone64 arm64 in debug mode...
Running Gradle task 'assembleDebug'...
Note: /Users/vitor/Documents/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_blue-0.8.0/android/src/main/java/com/pauldemarco/flutter_blue/FlutterBluePlugin.java

[2021-10-03 18:33] CodeMinion commented on #13
Hi @vitorhpereira !

Thanks for reaching out about this and apologies for the late repossess, thought I had. As for M1 support yes works on M1 however the another_borhter as as whole will not work on the emulator.

Thanks again for reaching out!

[2021-10-03 18:33] #13 closed

[2021-10-03 18:36] CodeMinion commented on #14
Hi @vitorhpereira !

Thanks for reaching out about this and apologies for the late reply.  From the logs it seems you might have some stale libs so I would recommend running 'Flutter clean' and see if the problem goes away.

Hope it helps but please don't hesitate to reach out if you are still having trouble building.

[2021-10-07 22:42] elninho22 opened #15 "Build App Example"
please help me

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':flutter_blue:generateDebugProto'.

     Searched in the following locations:
         https://jcenter.bintray.com/com/google/protobuf/protoc/3.11.4/protoc-3.11.4-osx-aarch_64.exe

[2021-10-08 03:56] elninho22 opened #16 "Help Print. QL_810W = ERROR_WRONG_LABEL"
Please help print app flutter Demo-Anhoter-Brother

LabelInfo
E/A-Brother(28062): Printer Name: Brother QL-810W
E/A-Brother(28062):  Out Printers: [{nodeName=BRXB252165F7C41, modelName=Brother QL-810W, macAddress=B0:52:16:5F:FC:41, serNo=M7Z528158, ipAddress=192.168.118.1, location=}]
E/Brother (28062): Image Bytes: [B@dcf1e92 - Size 236539
E/Brother (28062): PrintInfo: {binCustomPaper=null, isSpe

[2021-10-09 14:55] CodeMinion commented on #15
Hello @elninho22 ,

Thank for the additional information! I have just released version 0.0.25 of another_brother which will use Maven Central instead of JCenter for the dependencies on Android, so this error is now fixed there.

You may also pull the latest version here as well for the fix. I'll go ahead and close this issue but please feel free to open it again if you still encounter the issue af

[2021-10-09 14:55] #15 closed

[2021-10-12 18:41] elninho22 commented on #15
Thank you very much for your commitment to the resolution.

[2021-10-12 19:41] #16 closed, assigned to nobody

[2021-10-14 12:38] elninho22 opened #17 "Build M1"
hello Mr @CodeMinion
I'm having problems Build on Xcode MAC M1, I get these logs:
Treatments: added config in Xcode another_brother = required
Used another_brother:
     git:
      url: git://github.com/CodeMinion/another_brother.git
      ref: ios-no-type-b
unsuccessfully

logs:
ld: warning: ignoring file /Users/andre/Library/Developer/Xcode/DerivedData/Runner-abfcsgvdhwjizuccyqtvfwgolllg/Build/P

[2021-10-15 04:32] CodeMinion commented on #17
Hello @elninho22 ,

Thanks for reaching out about this. I see from the logs that you are tying to deploy to the simulator. Currently the simulator is not support of iOS so you'll need to build to a physical device instead.

Hope this helps but please don't hesitate to reach out if you run into any other issues,

[2021-10-15 13:03] #17 closed, assigned to nobody

[2021-11-01 04:00] #14 closed

[2022-02-16 13:31] elninho22 opened #18 "Compatibility with emulator IOS"
Hi Mr Frank.

Do you have a project to make another brother compatible with emulator IOS, or how we can help to achieve it?

thank you very much for your project! it's perfect

[2022-02-21 20:00] xncz8h opened #19 "App rejected in IOS Store"
## Problem
Me and my colleagues are trying to publish our app in the IOS store however we've run into a issue. Apple claims that our app is not authorized by the accessory manufacturer to work with the following MFI accessory:

- com.brother.ptcbp
- com.issc.datapath

Also see the contents of the email below of the rejection email.

## Solutions Tried
Although we already applied for the MFi Produc

[2022-02-22 05:33] CodeMinion commented on #19
Hello @xncz8h ,

Thanks for reaching out about this. Yes, you will need to receive that PPID from Brother though not sure how long the exact turnaround time for that application is.

That said the Brother Hackathon registration is open for this year. This will give you a chance to chat with some of the Brother engineers and Managers directly so you might be able to get a direct answer from them if

[2022-02-23 04:35] CodeMinion commented on #18
Hi @elninho22 !

Thanks for reaching out about this and for the offer! If I remember correctly the limitation lie in the iOS binary that another_brother uses. These come from Brother and I do hear they have an update so there is a chance this has been resolved in the newer version. I'll find out more during the Brother Hackathon this year and post an update here as I find out more.

Thanks again!

[2022-02-26 10:31] xncz8h commented on #19
Hey @CodeMinion ,

Thank you for that response. We resolved the issue with the com.brother.ptcbp package through the PPID form through Brother. However, our app is still refused due to the second package this library uses: com.issc.datapath.

Any thoughts on how to resolve this issue?

[2022-03-01 15:08] twin250 opened #20 "ERROR_FILE_NOT_FOUND"
Hello. Thank you for this plugin I have been having some fun with it today!

I have an issue with sending a file to my brother printer (model TD-4550DNWB). I have successfully been able to send a paragraph to it. When I try and send a .prn file I get the error ERROR_FILE_NOT_FOUND. I have loaded the asset into my yaml file and included it within the asset folder. I am testing this on my iPad.

Any

[2022-03-02 00:14] CodeMinion commented on #20
Hello @twin250 ,

Thanks for reaching out about this. Could you share the code you are using to send the file to the printer?

Thanks in advance!

[2022-03-02 00:15] CodeMinion commented on #19
Hey @xncz8h !

Glad to hear you got the PPID issue resolved. I am not really sure what the requirements for Apple's com.issc.datapath are but I'll ask the Brother folks during the hackathon and let you know.

Thanks again for reaching out about this,

[2022-03-02 10:26] twin250 commented on #20
Hello. Getting the same error on my QL_820NWB. I have connected the devices on my network to test from my iPad. This is my code:

    var printer = new Printer();
    List<NetPrinter> netPrinters =
    await printer1.getNetPrinters([Model.QL_820NWB.getName()]);
    print("Net Printers Found: $netPrinters");
    PrinterInfo printerInfo = PrinterInfo(
    port: Port.NET,
    printerModel: Model.QL_8

[2022-03-03 04:22] CodeMinion commented on #20
Thanks for the code @twin250 !

At a glance I believe the problem is that you are passing asset path. Print file requires the full path to the file being printed so you might need to first save the asset to a temp file and then path the path to that temp file to printFile.

[2022-03-03 12:55] twin250 commented on #20
Thank you for your help. I have changed it to use FilePicker. The return status gives me ERROR_NONE but the printer does not print the file. I don't know if it's related to the set printer info. I will keep testing!

[2022-03-04 03:06] CodeMinion commented on #20
Glad to hear it helped @twin250 .

It might not be the issue but in the past I have noticed that if you call endCommunication before the printing begins it never prints. Have you tried making the call without calling endCommunication?

[2022-03-07 10:21] twin250 commented on #20
Hello @CodeMinion,

I have tried sending the file prints back to the TD-4550DNWB printer. It looks like it is doing something as the printer's LCD screen says "receiving" but nothing prints. I have tried taking out endCommunication. Hopefully, it's a setting I have overlooked.

[2022-04-11 04:26] aawhitfield opened #21 "Unable to build example"
When I build example it says the following:

``
Launching lib\main.dart on SM F926U in debug mode...
Running Gradle task 'assembleDebug'...
e: Incompatible classes were found in dependencies. Remove them from the classpath or use '-Xskip-metadata-version-check' to suppress errors
e: C:/Users/aawhi/.gradle/caches/modules-2/files-2.1/org.jetbrains.kotlin/kotlin-stdlib-common/1.6.0/7857e365f925cfa060

[2022-04-11 22:25] CodeMinion commented on #21
Hey @aawhitfield !

Thanks for reaching out about this. The example project is quite outdated and will be deprecated in the near future. For more detailed example have a look at https://github.com/CodeMinion/Demo-Another-Brother-Prime instead.

Thanks again!

[2022-04-11 22:26] aawhitfield commented on #21
Thanks for the reply and the resource!

[2022-04-11 22:41] CodeMinion commented on #21
Anytime! Don't hesitate to reach out if you run into any other issues.

[2022-04-18 23:34] #21 closed

[2022-04-18 23:34] #18 closed

[2022-04-27 12:28] zamvar opened #22 "QL_720NW Printer not discovered"
Hi i am using the example given here https://github.com/CodeMinion/Demo-Another-Brother-Prime

The official Brother Label App discovers my printer.

but the demo returns nothing.

This is what im getting on the example.

E/A-Brother(20700): Printers: [Lcom.brother.ptouch.sdk.NetPrinter;@1fcfe26
E/A-Brother(20700):  Out Printers: []

am i missing some configuration or is this printer not supported

[2022-04-27 12:34] zamvar commented on #22
Is it possible its caused by this ?
![image](https://user-images.githubusercontent.com/20177817/165518865-b3aa6fb1-7878-433a-bda4-e0a7813837b3.png)
found it in the PrinterInfo Model

[2022-04-27 21:15] CodeMinion commented on #22
Hi @zamvar !

Thanks for reaching out about this. Could I trouble you to share the code you are using?

Thanks in advance!

[2022-05-24 04:05] mikhael28 commented on #15
This same issue is still going on today, with 0.0.25
`flutter run
Using hardware rendering with device
Android SDK built for arm64. If you notice
graphics artifacts, consider enabling
software rendering with
"--enable-software-rendering".
Launching lib/main.dart on Android SDK
built for arm64 in debug mode...
Running Gradle task 'assembleDebug'...
Running Gradle task 'assembleDebug'...    FAILURE:

[2022-05-24 04:05] mikhael28 commented on #15
Any suggestions?

[2022-05-24 12:57] CodeMinion commented on #15
Hey @mikhael28 ! Thanks for reaching out about this. This is an issue with the flutter_blu lib, so in order to resolve it on your project you'll open the Android version of your project on Android and after it's done synching open the flutter_blue folder and perform the changes suggested by @elninho22 above. I have been able to confirm that updating the protobuf library to 3.17.3 on will solve thi

[2022-06-03 07:24] #22 closed

[2022-06-03 07:25] zamvar commented on #22
Closed the issue i think i may have missed something.

[2022-06-07 10:49] BentEngbers commented on #10
Hi @CodeMinion,

Could the `ios-no-type-b` branch be updated with the latest changes from main?

[2022-06-07 11:00] BentEngbers opened #23 "change dependency from flutterblue to flutterblueplus"
The flutterblue package has not had a new version in a long while (14 months ago), and this is making the build process more and more difficult.
according to  [flutterblueplus](https://github.com/boskokg/flutter_blue_plus), they are the successor, because development has stopped on the original project:

Would it be possible to change the flutterblue dependency to the new flutterblueplus dependenc

[2022-06-07 11:16] BentEngbers opened #24 "Github actions setup"
Hi @CodeMinion,

Would you be interested in a Github actions CI setup, for flutter formatting, analysing and building?
I would be happy to create a PR for this, and Github actions for opensource projects is [free](https://github.blog/2019-08-08-github-actions-now-supports-ci-cd/).
Maybe we could even incorporate a tool such as [renovatebot](https://www.mend.io/free-developer-tools/renovate/) (whic

[2022-06-07 23:51] CodeMinion commented on #23
Hey @BentEngbers !

Thanks for reaching out about this. I'll make the switch over this weekend and release a new version using https://pub.dev/packages/flutter_blue_plus and test it out with the printers just to double confirm they still work fine.

Looking at flutter_blue_plus looks like they have updated the protobuff deps that we currently have to manually do so that will be a nice improvement.

[2022-06-07 23:53] CodeMinion commented on #10
Hey @BentEngbers !

Thanks for reaching out about this. I believe the only changes that came in recently are the additional permissions in the manifest. I'll add those in the `ios-no-type-b` branch later this weekend.

That said if you would like to make that change and submit a PR before then it will definitely be welcomed!

Thanks again!

[2022-06-07 23:55] CodeMinion commented on #24
Hey @BentEngbers !

Thanks for the offer it is really kind of you! Currently the repo is small enough that I don't have a new for CI but will definitely keep it in mind if it expands.

Thanks again!

[2022-06-07 23:55] #24 closed

[2022-06-07 23:55] #20 closed

[2022-06-12 20:23] CodeMinion commented on #23
Hey @BentEngbers !

Wanted to let you know that another_brother 0.0.27 now uses flutter_blue_plus instead of flutter_blue.

Thanks again for the suggestions~

[2022-06-12 20:23] #23 closed

[2022-06-22 04:24] Guthers opened #25 "Can't compile on android"
Hi, when I tried to run the build I get a massive java compiler bug. I really have no clue what the cause is / would be. Has this package been tested on android before?
Thanks

[2022-06-22 04:25] Guthers commented on #25
[code]

[2022-06-22 04:26] Guthers commented on #25
Actually, i just noticed that it mentions flutter blue in the stack trace 😅 I shall go looking there, sorry

[2022-06-22 04:26] #25 closed

[2022-06-23 05:38] smaharjan974 opened #26 "USB devices not showing"
How to show the list of devices throught the USB?

[2022-06-23 12:06] CodeMinion commented on #26
Hey @smaharjan974 !

Thanks for reaching out about this. The library does not include an API for listing the USB devices and it instead prints to a single connected printer via USB.

If you have having trouble printing to a printer connected over USB make sure to check the following:
1. You are using an OTG cable.
2. Your device support OTG.
3. You are connecting your device to your printer over U

[2022-06-24 03:31] smaharjan974 commented on #26
Hello @CodeMinion
I have tired as you said.
And My device support the OTG and i have successfully connect with another dependencies.
Can you show the demo code to print through USB?
I am using QL_800 brother printer.

Future<List<NetPrinter>> getMyNetworkPrinters() async {
    Printer printer = new Printer();
    PrinterInfo printInfo = new PrinterInfo();
    printInfo.port = Port.USB;

    await

[2022-06-24 04:13] CodeMinion commented on #26
Hey @smaharjan974 !

After you set the port to USB you should just be able to call one of the print functions. You are not getting any printers because the getNetPrinters() function is for getting a list of printers to connect over WiFi.

Here is a short sample for printing over USB using a QL-1110NWB and a W103 roll.

var printer = new Printer();
var printInfo = PrinterInfo();
printInfo.printerMo

[2022-06-30 07:03] shobhit14gupta commented on #19
I also faced the same issue. I got the PPID from Brother to resolve issue with com.brother.ptcbp package, but app still rejected due to second package "com.issc.datapath".  Any update to resolve this issue?

[2022-06-30 11:36] CodeMinion commented on #19
Hey @shobhit14gupta !

Thanks for reaching out about this and sorry to hear you are also facing the same issue. I checked with some of the Brother folks during the last hackathon and they were not sure about "com.issc.datapath" either. This should be in your plist to be able to connect to accessories over Bluetooth.

But have you tried not including it to see if you can still print?

Thank agin fo

[2022-07-31 15:16] #26 closed

[2022-08-16 20:49] balanpaul opened #27 "iOs Bluetooth print not working"
Hi,
I am using this package and when I am trying to connect to TD-4550DNWB via Bluetooth, I received the following error:

`2022-08-16 19:50:44.753563+0100 Runner[2215:316019] ERROR - could not find protocolID for protocolString com.brother.ptcbp
2022-08-16 19:50:44.753684+0100 Runner[2215:316019] ERROR - /Library/Caches/com.apple.xbs/Sources/ExternalAccessory/ExternalAccessory-410.100.2/EASession

[2022-08-17 02:37] CodeMinion commented on #27
Hello @balanpaul !

Thanks for reaching out about this. Could I trouble you to check if you have added the changes to your info.plist outlined here? https://pub.dev/packages/another_brother#ios-infoplist

Also what iOS device are you testing this on?

Thanks in advance!

[2022-08-17 08:08] balanpaul commented on #27
Hey @CodeMinion,

Yes, the info.plist is correct, I also cloned your repository(https://github.com/CodeMinion/Demo-Another-Brother-Prime) and I received the same error.

I am using to test:
- iPhone XS, with iOs 14.8.1
- printer model: TD-4550DNWB

And for development I am using:
- Flutter (Channel stable, 3.0.5)
- Dart version 2.17.6
- XCode version 13.4.1
- package: another_brother: ^0.0.27 from

[2022-08-17 17:52] CodeMinion commented on #27
Anytime @balanpaul ! Thanks for the additional details!

I took a look at the Demo-Another-Brother-Prime project and it looks like that one does not have the info.plist updates. I'll send an update for it tonight.

Could I trouble you to share you info.list to double confirm that it is inside the right section **UISupportedExternalAccessoryProtocols** and also the section of code from another_brot

[2022-08-17 21:38] balanpaul commented on #27
Hi @CodeMinion ,

Yes, i double check with find in files.

This is my plist file:
`<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>CFBundleDevelopmentRegion</key>
   <string>$(DEVELOPMENT_LANGUAGE)</string>
   <key>CFBundleDisplayName</key>
   <string>[name]</string>

[2022-08-18 02:20] CodeMinion commented on #27
Thanks @balanpaul !

Normally the error "could not find protocolID for protocolString" on iOS means that the protocol string is not included under UISupportedExternalAccessoryProtocols but I can see you have it there. I also checked the prime example again and it also has it there which is also not working on your end.

When trying to print are you tapping on the device under the apple settings to

[2022-08-18 08:40] balanpaul commented on #27
Hello again @CodeMinion

Yes, the device is connected and paired before I am trying to print.

This is printer setup and verify connection:

`
  var printInfo = PrinterInfo();

  var printer = new Printer();

  final UserBloc userBloc = BlocProvider.getBloc<UserBloc>();

  PrintBloc();

  Future<void> setupPrinter(String printerModel, [ACustomPaper? paper]) async {
    User? firebaseUser = Firebas

[2022-08-19 13:58] balanpaul commented on #27
Thanks @CodeMinion !

I will try to use BLE and also I will try to test with a device which have o lower iOS version. I will come back with answer if it works or not.

Thank you again! Your package is really good overall!

[2022-08-20 03:22] CodeMinion commented on #27
Happy to help @balanpaul !

Thanks! Keep me posted as to what you find!

[2022-09-13 03:48] shubhjagani opened #28 "Can't build on iOS Simulator on MBP M1 for xcode 13.4.1"
Spent hours going through all the issues, using the `ios-no-type-b` branch but still unable to build and test on iOS. Begging for a proper fix here 🙏. Please advise what I should do here, need my app to work with Brother QL-810W using both iOS and Android devices but don't necessarily need to go through the app store review.

[2022-09-13 04:02] CodeMinion commented on #28
Hi @shubhjagani ! Thanks for reaching out about this.

I don't believe you will be able to build on the iOS simulator due to some of the prepackage libs so you will need to build to an actual device.

In addition to that I believe that neither the Android Emulator nor the iOS Simulator have support for NSD and Bluetooth so your printer discovery wont work in the case where you are connecting and B

[2022-09-13 21:21] shubhjagani commented on #28
@CodeMinion thanks!! You're the best. For anyone else running into issues:
1. Switch to the `ios-no-type-b` branch. It has most of the printers you want to use away.
2. Use a physical iOS device

[2022-09-13 23:15] #28 closed

[2022-09-16 02:43] shubhjagani opened #29 "Can't print over wifi on iOS"
I'm able to find the wireless printer but getting a `nw_endpoint_create_host_with_numeric_port invalid empty string hostname` error when sending the print command. Tried printing an image, works on Android perfectly. pasting the error below. First line is a print of printers list that is found

[code]

[2022-09-16 18:54] shubhjagani commented on #29
turns out i had the wrong IP assigned which didn't cause a problem for Android but did for iOS

[2022-09-16 18:54] #29 closed

[2022-09-16 22:57] CodeMinion commented on #29
Glad to hear you resolved the issue @shubhjagani ! Don't hesitate to reach out if you run into any other issues.

[2022-09-17 03:52] shubhjagani opened #30 "App completely freezing during print"
My app becomes completely frozen while the printer is printing. It's weird because everything seems to be wrapped properly with Future and async/await and it is only free when the ` _channel.invokeMethod("printImage", params);` is being called.

[2022-09-17 13:33] CodeMinion commented on #30
Hi @shubhjagani ! Thanks for reaching out about this one!

Could you also share your printing code to have a better idea? Also what are the devices specs where this is happening and the what's the size of your image you are trying to print?

Thanks in advance

[2022-09-17 22:12] shubhjagani commented on #30
I start by capturing the screenshot of one of my widgets
```screenshotController.capture().then((val) => PrintAPI.printLabel(context, val!));```

the print API configures and connects to the QL-810W over wifi - I have specified the IP address

[code]

[2022-09-18 01:59] CodeMinion commented on #30
Thanks for the code and the video @shubhjagani. The panda looks super adorable!

The problem turned out to be on the native iOS side of another_brother. It was executing the print on the main thread thus causing the app to freeze until it was done. I have released version 0.0.28 which resolves the issue.

Thanks again for all the info, and don't hesitate to reach out if there is anything else I ca

[2022-09-18 02:49] shubhjagani commented on #30
wow thanks @CodeMinion!! do you mind making the change on the `ios-no-type-b` branch as well

[2022-09-18 03:13] CodeMinion commented on #30
Happy to help!

Not at all! I have pushed the changes to the ios-no-type-b branch.

Thanks again for the report!

[2022-09-18 04:49] shubhjagani commented on #30
Hi @CodeMinion, thank you for this. Now the app doesn't freeze but the printer basically stops responding. Then when i close the app (disconnect flutter) all the other things that I sent to the printer print out at the same time. There might be an issue with the new thread is getting stuck or not getting closed.

[2022-09-18 16:16] CodeMinion commented on #30
Hey @shubhjagani ! That's bummer. I am not able to reproduce that one on my side. The interesting thing is that the actual printing is done inside the official borther library here https://github.com/CodeMinion/another_brother/blob/main/ios/Classes/Method/PrintImageMethodCall.m#L73. So if closing the app causes the previously sent prints to come out at least we know it is getting that far.

Could

[2022-09-19 05:25] shubhjagani commented on #30
So my steps are
1. send print command
2. while printing send another
3. while printing send another

At this point I'm actually seeing a crash on xcode with the error: `Thread 1: EXC_BAD_ACCESS (code=1, address=0x84ca6e745e40)`

In xcode debugger it says the error is on Thread 1: `Thread 1 Queue : com.apple.main-thread (serial)` and sometimes i see ` Error retrieving thread information: (os/kern)

[2022-09-19 05:26] shubhjagani commented on #30
so restarting the printer did seem to fix the problem of it only printing after the app is killed but I believe there is some problem with thread management

[2022-09-20 01:39] CodeMinion commented on #30
Thanks for the steps @shubhjagani ! Yes, I have the same feeling too. Let me take a look at it more and see what I find.

[2022-09-21 21:10] shubhjagani commented on #30
@CodeMinion any updates here? still running into the same issues with crashing

[2022-09-21 22:26] CodeMinion commented on #30
Hey @shubhjagani ! Unfortunately I might not be able to take a closer look this until this weekend.

In the meantime since it seems to be happening when sending multiple prints at once to the printer I would recommend setting up a queuing system on the app so each subsequent request is queued while one is being printed.

[2022-09-30 07:08] zamvar opened #31 "[Print Quality IOS] [TypeB] setting print quality not working on IOS"
Setting the print quality on ios does not affect the quality works fine on android though
im using the printPdfFile method to print on both platforms.

[2022-09-30 09:56] alihassan143 opened #32 "[Ios] in latest xcode Version 14.0 (14A309) flutter build failed"
`Error (Xcode): Building for iOS Simulator, but linking in dylib built for iOS, file '/Users/mac/Desktop/multi_vendor/ios/Pods/BRLMPrinterKit/BRLMPrinterKit/BRLMPrinterKit.framework/BRLMPrinterKit' for architecture arm64`

**Flutter Doctor**
[code]

[2022-09-30 11:49] CodeMinion commented on #32
Hi @alihassan143 ! Thanks for reaching out about this. Building to the iOS Simulator is not supported, so you'll need to build to a physical device.

Please refer here for more info: https://github.com/CodeMinion/another_brother/issues/28

Thanks again!

[2022-09-30 11:49] #32 closed

[2022-09-30 11:51] CodeMinion commented on #31
Hi @zamvar ! Thanks for reaching out about this!

Yes, this is an issue with the version of the native iOS brother library. Changing the print quality on it won't have an effect.

They recently released an update which we have yet to integrate.

[2022-10-03 09:20] zamvar commented on #31
Hi @CodeMinion thanks for that quick response
looking forward to have that integrated, if i can find time will try solve it on my own then open a pull request.

[2022-11-04 21:40] christiandjakou opened #33 "ERROR_WRONG_CUSTOM_INFO for printerModel={name=RJ_4030, id=13}"
I have the error ERROR_WRONG_CUSTOM_INFO when trying to print on a RJ_4030
There is no BinPaper_RJ4030 class, nor .bin files in the library. That would explain why i keep having this error when trying to print.
I tried using BinPaper for different models like the BinPaper_RJ4040 but I keep having the error above. Please any idea of a solution or workaround?
Danke schön

[2022-11-05 00:03] CodeMinion commented on #33
Thanks for reaching out about this @christiandjakou . If I remember correctly the bin files are specific to each printer but it has been a while since I looked into them so I may be wrong. Not sure if you have already tried these but we also have a set of papers for the RJ_4030Ai https://github.com/CodeMinion/another_brother/blob/main/lib/custom_paper.dart#L320

If none of them work for your print

[2022-11-05 11:03] christiandjakou commented on #33
Thanks @CodeMinion for the quick feedback.
Specifying the custom paper as explained in the example works!
Just mentioning that Using the RJ_4030Ai papers did not work, I had the same errors.
Marking this issue as resolved!

[2022-11-05 11:03] #33 closed

[2022-11-05 13:14] CodeMinion commented on #33
Great to hear @christiandjakou ! Glad I could help.

Thanks for the note on the RJ_4030Ai.

Don't hesitate to reach out if you have any other questions or if there is anything else I can help with.

[2022-11-08 11:53] grendes-wunder opened #34 "Vulnerability issue due to outdated Brother SDK"
Hi @CodeMinion ,

we try to publish an app using this dependency, but PlayStore indicated the following error:
[code]

As far as we could tell, it's due to the fact that this library uses the v3.5.1 version of the Brother Printer SDK from here:
https://rouninlabs.jfrog.io/ui/native/rounin-libs-external/com/brother/sdk/printer/1.0.0/

As we checked, the latest v4.6.1 version of the SDK has fixed th

[2022-11-08 15:06] grendes-wunder commented on #34
Hi @CodeMinion

gosh, you are fast, i really appreciate!
That's the least that we'd test out thoroughly our app with the latest branch, I'll get back to you with this!

[2022-11-08 23:53] CodeMinion commented on #34
Hi @grendes-wunder ,

Don't mention it, I simply got lucky there were only minor changes between the versions. I have tested with the printers I have and it all seems to checkout out.

Version 0.0.29 is now available in pub.dev.

Thanks again for reaching out about this,

[2022-11-09 14:25] grendes-wunder commented on #34
Hi @CodeMinion ,

we can confirm that everything works as expected with the new another_brother (0.0.29) and brother sdk (4.6.1) version.
The new version has been already reviewed by Google and i am glad to report, that this time no Errors/Vulnerabilities were reported.

Thank you once again :)

[2022-11-09 14:26] #34 closed

[2022-11-10 03:19] CodeMinion commented on #34
That's great to hear @grendes-wunder ! Thanks again for verifying the latest version.

[2022-11-18 13:35] lukesalter opened #36 "getPDFFilePages - no implementation"
HI,

I'm seeing this issue when trying to check the number of pages in my PDF file. Any chance you can take a look? I suspect it's just not a common method that's being used and something isn't right in the package somewhere.

`Unhandled Exception: MissingPluginException(No implementation found for method getPDFFilePages on channel another_brother)`

Looking forward to heard from you. I can do a w

[2022-11-18 14:41] CodeMinion commented on #36
Hi @lukesalter,

Thanks for reaching out about this. I took a quick look and I can see we have an implementation for it on Android but not on iOS. Could you share what device(s) you are seeing this error on?

Thanks in advance,

[2022-11-18 14:47] lukesalter commented on #36
Hi @CodeMinion, yes it's an iOS device. Is that something that the swift behind the scenes can't do or is it possible to get it working?

[2022-11-18 15:03] CodeMinion commented on #36
Thanks for confirming @lukesalter.

I took a quick look at the Brother iOS SDK and couldn't find a parallel call but let me reach out to them in case we are missing something and let you know what I find.

[2022-11-25 22:39] BentEngbers opened #37 "update the ios-no-type-b branch"
Hi @CodeMinion,

Could the ios-no-type-b branch be updated with the latest changes from main?
I tried to create the PR myself, but i lack the permissions.

[2022-11-26 01:18] CodeMinion commented on #37
Hi @BentEngbers !

Thanks for reaching out about this. I just pushed the latest changes that bring in the Brother Android SDK v4.6.1 to the ios-no-type-b branch.

Thanks also for the heads up on the permissions I'll take a look to see what's going on.

Thanks again and don't hesitate to reach out if there is anything else I can help with.

[2022-11-26 17:04] CodeMinion commented on #36
Hi @lukesalter ,

I wanted to let you know that version 0.0.30 of another_brother now supports getPDFFilePages on iOS.

I'll leave this open just in case you run into any trouble with it. So feel free to close it if all works out on your end.

Thanks again for reaching out about this.

[2022-11-28 10:53] lukesalter commented on #36
@CodeMinion perfect - this is great. I'll give it a spin later today and see how I get on. If it's all good I'll close this off.

[2022-11-28 10:59] lukesalter opened #38 "getPrinterStatus - no errors on iOS"
When I'm calling getPrinterStatus from iOS I don't seem to be able to get the ERROR_WRONG_LABEL or ERROR_NOT_SAME_MODEL errors without trying to actually print something.

Android is fine but the same code on iOS is returning ERROR_NONE when I know that the label index or model don't match the set PrinterInfo.

Is this a bug or an iOS limitation?

The use case is that I'm trying to ease the set up

[2022-11-28 13:32] #37 closed

[2022-11-28 13:54] CodeMinion commented on #36
Thanks @lukesalter !

[2022-11-28 13:59] CodeMinion commented on #38
Hi @lukesalter ,

Thanks for reaching out about this. I took a quick look at the iOS side and it does seem that the Brother SDK handles things very differently from the way their Android one does so as a result we are returning that ERROR_NONE.

However, while their SDK does not seem to expose the errors on the iOS side like on Android they do seem to expose the raw data https://support.brother.co